* {
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.navigation {
  display: flex;
  gap: 20px;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  padding-left: 100px;
}

.mainTitleContainer {
  width: 40%;
}

.mainPhotoContainer {
  width: 40%;
}
